# Don't copy built outputs or local dev artifacts
**/dist
**/.next
**/.turbo
**/.git
.github

# Don't copy test files
**/*.spec.ts
**/*.test.ts
**/__tests__
**/coverage

# Don't copy env files
**/.env
**/.env.*
!**/.env.example

# Don't copy node_modules - will be installed fresh
**/node_modules
