@import "tailwindcss";

:root {
    --color-primary-navy: #061b32;
    --color-primary-mint: #9fdbda;
    --color-background: #fafafa;
}

@theme inline {
    --color-primary-navy: var(--color-primary-navy);
    --color-primary-mint: var(--color-primary-mint);
    --color-background: var(--color-background);
}

body {
    background: var(--color-background);
    color: var(--color-primary-navy);
    font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
}